<section
  id="landing-header"
  class="w-full h-[8%] sm:h-[30%] bg-wp-green flex items-center justify-center"
>
  <div
    class="landing-header w-[50%] h-[10%] sm:h-[30%] relative sm:top-[-20%] flex items-center justify-center sm:justify-start sm:left-[5%]"
  >
    <span class="w-10">
      <img src="../../../../assets/images/whatsapp.svg" alt="Chat" />
    </span>
    <span
      class="uppercase relative left-[5%] sm:left-[2%] text-base text-white font-medium font-sans"
      >ChatApp</span
    >
  </div>
</section>

<section
  id="landing"
  class="relative w-[100%] h-[70%] top-[8%] flex items-center justify-center sm:-top-[12%]"
>
  <div class="container px-4 h-full">
    <div class="flex content-center items-center justify-center h-full">
      <div class="w-full lg:w-4/12 px-4 flex items-center justify-center">
        <div
          class="relative flex flex-col min-w-0 break-words w-[50%] lg:w-full mb-6 shadow-lg rounded-lg bg-gray-300 border-0"
        >
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</section>
