<div class="flex flex-col items-center w-full h-full">
  <section
    id="landing-header"
    class="w-full h-[8%] sm:h-[30%] bg-wp-blue items-center justify-center absolute"
  ></section>

  <section
    id="chat"
    class="relative w-[85%] h-[90%] top-[5%] flex items-start justify-start bg-slate-600"
  >
    <div
      id="sidebar-container"
      class="w-[32%] h-full bg-slate-300 flex flex-col"
    >
      <div id="user-profile-header" class="w-full h-[9%] bg-slate-500"></div>
      <div id="search" class="w-full h-[6%] bg-slate-200"></div>
      <div id="chats" class="w-full h-[85%] bg-slate-400"></div>
    </div>
    <div id="chatbox-container" class="w-[68%] h-full bg-slate-900 flex"></div>
  </section>
</div>
