<div class="flex flex-col items-center w-full h-full">
  <!-- Green background -->
  <section
    id="landing-header"
    class="w-full h-[8%] sm:h-[30%] bg-wp-green items-center justify-center absolute"
  ></section>

  <!-- Chat -->
  <section
    id="chat"
    class="relative w-[85%] h-[90%] top-[5%] flex items-start justify-start bg-slate-600"
  >
    <!-- Sidebar Chat Container -->
    <div id="sidebar-container" class="w-[32%] h-full bg-white flex flex-col">
      <!-- User Profile Header -->
      <div
        id="user-profile-header"
        class="w-full h-[7%] bg-wp-panel-background border-r-wp-panel-r-border border-r flex items-center justify-between px-4"
      >
        <span id="profile-picture" class="w-[40px] h-[40px] flex">
          <img
            src="../../../../assets/images/noPic.svg"
            alt="Profile Picture"
          />
        </span>

        <div class="flex gap-5">
          <div class="relative inline-block text-left">
            <!--
    Dropdown menu, show/hide based on menu state.

    Entering: "transition ease-out duration-100"
      From: "transform opacity-0 scale-95"
      To: "transform opacity-100 scale-100"
    Leaving: "transition ease-in duration-75"
      From: "transform opacity-100 scale-100"
      To: "transform opacity-0 scale-95"
  -->
          </div>
          <span
            id="community-tab"
            class="w-7 h-7 flex center hover:cursor-pointer"
            ><img
              src="../../../../assets/images/community-tab.svg"
              alt="Community Tab"
              type="image/svg+xml"
          /></span>

          <span id="status" class="w-7 h-7 flex center hover:cursor-pointer"
            ><img
              src="../../../../assets/images/status.svg"
              alt="Status"
              type="image/svg+xml"
          /></span>

          <span id="status" class="w-7 h-7 flex center hover:cursor-pointer"
            ><img
              src="../../../../assets/images/new-chat.svg"
              alt="Status"
              type="image/svg+xml"
          /></span>

          <span
            #showMenuRef
            id="menu"
            class="w-7 h-7 flex center hover:cursor-pointer"
            (click)="showMenu = !showMenu; ($event.stopPropagation)"
            [ngClass]="{
              'bg-wp-panel-active-bg': showMenu,
              'rounded-xl': showMenu
            }"
            ><img
              src="../../../../assets/images/menu.svg"
              alt="Menu"
              type="image/svg+xml"
            />
          </span>
          <div
            *ngIf="showMenu"
            class="absolute z-10 -ml-12 mt-8 w-56 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="menu-button"
            tabindex="-1"
          >
            <div class="py-1" role="none">
              <a
                class="text-gray-700 block px-4 py-2 text-sm hover:bg-wp-panel-background hover:cursor-pointer"
                role="menuitem"
                tabindex="-1"
                id="menu-item-2"
                >New Chat</a
              >
            </div>
            <div
              class="py-1"
              role="none"
              (click)="createChatModalVisible = !createChatModalVisible"
            >
              <a
                class="text-gray-700 block px-4 py-2 text-sm hover:bg-wp-panel-background hover:cursor-pointer"
                role="menuitem"
                tabindex="-1"
                id="menu-item-4"
                >New Group Chat</a
              >
            </div>
            <div class="py-1" role="none">
              <a
                class="text-gray-700 block px-4 py-2 text-sm hover:bg-wp-panel-background hover:cursor-pointer"
                role="menuitem"
                tabindex="-1"
                id="menu-item-6"
                >Logout</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- Sidebar Search Container -->
      <div
        id="search"
        class="w-full h-[6%] bg-white flex justify-evenly items-center border-b border-b-wp-b-panel-border border-r border-r-wp-panel-r-border"
      >
        <div
          id="search-container"
          class="bg-wp-panel-background flex text-center items-center gap-4 rounded-lg w-[90%] h-[80%] px-3 py-3"
        >
          <span class="w-5 h-5"
            ><img src="../../../../assets/images/searchIcon.png" alt="Search"
          /></span>
          <input
            id="search-input"
            class="w-[100%] h-[100%] bg-wp-panel-background border-transparent focus:border-transparent focus:ring-0 justify-center"
            type="text"
            placeholder="Search or start new chat"
            (change)="searchInput.set($any($event.target).value)"
          />
        </div>
        <span id="filter" class="w-5 h-5 hover:cursor-pointer">
          <img
            src="../../../../assets/images/filter.svg"
            alt="Filter"
            type="image/svg+xml"
          />
        </span>
      </div>
      <!-- Sidebar Chats Container -->
      <div
        id="chats"
        class="w-full h-max bg-white grid border-r border-r-wp-panel-r-border overflow-auto"
      >
        <!-- Sidebar All Chats -->
        <div
          class="chat-container hover:bg-[#f0f2f5] prevent-select"
          *ngFor="let group of sidebarChatGroups; let i = index"
          (click)="onChatClick(group, i)"
          [ngClass]="{ 'bg-[#f0f2f5]': i === selectedChat.index }"
        >
          <div id="chat" class="w-full h-[74px] chat-grid cursor-pointer">
            <div class="profile-picture flex items-center justify-center">
              <span class="w-[49px] h-[49px] flex"
                ><img
                  src="../../../../assets/images/noPic.svg"
                  alt="Profile Picture"
              /></span>
            </div>

            <!-- Sidebar User Name and Last Message -->
            <div
              class="user-chat flex flex-col justify-center gap-2 border-b border-b-wp-panel-b-border"
            >
              <span class="user-name font-mono font-normal">{{
                group.name
              }}</span>
              <span
                class="user-message text-[#667781] font-mono text-ellipsis whitespace-nowrap overflow-hidden"
              >
                {{ group.lastMessage }}
              </span>
            </div>
            <!-- <div class="chat-info"></div> -->
          </div>
        </div>
      </div>
    </div>
    <!-- Chat Container -->
    <div
      id="chatbox-container"
      class="w-[68%] h-[100%] flex flex-col bg-wp-panel-background"
    >
      <!-- Chat Header -->
      <div
        id="user-chat"
        class="w-full h-[100%]"
        *ngIf="selectedChat.index > -1"
      >
        <div
          id="chat-user-profile-header"
          class="w-full h-[7%] bg-wp-panel-background flex flex-col"
        >
          <div
            class="user-photo-header w-full h-[100%] bg-wp-panel-background grid"
          >
            <div
              id="chat"
              class="w-full h-[100%] profile-detail-grid cursor-pointer"
            >
              <div
                class="profile-detail-picture flex flex-col items-center justify-center w-full h-full"
              >
                <span class="w-[40px] h-[40px] flex"
                  ><img
                    src="../../../../assets/images/noPic.svg"
                    alt="Profile Picture"
                /></span>
              </div>

              <div class="profile-info flex flex-col justify-center">
                <span class="user-name font-mono font-normal">{{
                  selectedChat.name
                }}</span>
              </div>
              <div
                class="profile-detail-buttons flex flex-row justify-evenly items-center pr-2"
              >
                <span
                  id="search"
                  class="w-7 h-7 flex center hover:cursor-pointer"
                  ><img
                    src="../../../../assets/images/searchIcon.svg"
                    alt="Search"
                    type="image/svg+xml"
                /></span>
                <span id="menu" class="w-7 h-7 flex center hover:cursor-pointer"
                  ><img
                    src="../../../../assets/images/menu.svg"
                    alt="Menu"
                    type="image/svg+xml"
                /></span>
              </div>
            </div>
          </div>
        </div>
        <!-- Message Container -->
        <div
          #messagesContainerRef
          id="messages"
          class="w-full h-[86%] wp-bg-image grid grid-rows-1 grid-flow-row overflow-y-scroll py-4 pt-16 px-12 items-end gap-y-[2.3rem]"
        >
          <!-- Group Chat -->
          <ng-container *ngIf="!selectedChat.isPrivate; else privateChat">
            <ng-container
              *ngFor="let chatMessage of chatMessages[selectedChat.id]"
            >
              <div
                id="chat-group-message-container"
                class="w-max min-h-[2rem] flex justify-self-start rounded-lg"
                [ngClass]="{
                  'justify-self-end': chatMessage.isMe,
                  'bg-wp-my-message-background': chatMessage.isMe
                }"
              >
                <!-- My message -->
                <ng-container *ngIf="chatMessage.isMe; else otherUserMessage">
                  <div
                    id="message-detail-container"
                    class="grid min-h-[1rem] px-2 py-2 gap-1"
                  >
                    <div class="flex">
                      <span
                        id="chat-message"
                        class="max-w-[20rem] justify-self-start text-sm break-words"
                        >{{ chatMessage.body }}
                      </span>
                      <span
                        id="date"
                        class="w-fit h-fit text-xs self-end pt-2 pl-2 text-wp-message-date-color"
                        >{{ chatMessage.date | date : "H:mm" }}</span
                      >
                    </div>
                  </div>
                </ng-container>
                <!-- Other users messages -->
                <ng-template #otherUserMessage>
                  <span id="profile-picture" class="grid w-[28px] h-[28px]">
                    <img
                      type="image/svg+xml"
                      src="../../../../assets/images/noPic.svg"
                    />
                  </span>
                  <span id="tail" class="w-2 h-3 flex relative">
                    <img
                      type="image/svg+xml"
                      [src]="'../../../../assets/images/tail-in.svg'"
                      class="rotate-[94deg]"
                    />
                  </span>
                  <div
                    id="message-detail-container"
                    class="grid bg-white rounded-lg min-h-[1rem] px-2 py-2 gap-1"
                  >
                    <span
                      id="user-or-group-name"
                      class="text-black text-sm font-semibold w-full"
                      >{{ chatMessage.senderUsername }}</span
                    >

                    <div class="flex">
                      <span
                        id="chat-message"
                        class="max-w-[20rem] justify-self-start text-sm break-words"
                        >{{ chatMessage.body }}
                      </span>
                      <span
                        id="date"
                        class="w-fit h-fit text-xs self-end pt-2 pl-2 text-wp-message-date-color"
                        >{{ chatMessage.date | date : "H:mm" }}</span
                      >
                    </div>
                  </div>
                </ng-template>
              </div>
            </ng-container>
          </ng-container>
          <!-- TODO: Private chat -->
          <ng-template #privateChat>
            <ng-container
              *ngFor="let chatMessage of chatMessages[selectedChat.id]"
            >
              <div
                id="message-detail-container"
                class="grid bg-white justify-self-start min-h-[1rem] px-2 py-2 gap-1 rounded-lg"
                [ngClass]="{
                  'justify-self-end': chatMessage.isMe,
                  'bg-wp-my-message-background': chatMessage.isMe
                }"
              >
                <div class="flex">
                  <span
                    id="chat-message"
                    class="max-w-[20rem] justify-self-start text-sm break-words"
                    >{{ chatMessage.body }}
                  </span>
                  <span
                    id="date"
                    class="w-fit h-fit text-xs self-end justify-self-end pt-2 pl-2 text-wp-message-date-color"
                    >{{ chatMessage.date | date : "H:mm" }}</span
                  >
                </div>
              </div>
            </ng-container>
          </ng-template>
        </div>
        <!-- Chat Input Container -->
        <div
          id="user-chat-input-container"
          class="w-full h-[7%] bg-wp-panel-background flex items-center justify-start"
        >
          <div
            id="chat-emoji"
            class="flex flex-row w-[10%] h-full justify-evenly items-center hover:cursor-pointer gap-2"
          >
            <span id="emoji" class="w-[25px] h-[25px] flex">
              <img
                src="../../../../assets/images/smile-icon.svg"
                alt="Smile Icon"
              />
            </span>
            <span id="plus" class="w-[25px] h-[25px] flex">
              <img src="../../../../assets/images/plus.svg" alt="Plus Icon" />
            </span>
          </div>
          <input
            #chatMessageInputRef
            type="text"
            id="chat-input"
            class="w-[85%] h-[75%] bg-white flex items-center rounded-lg border-transparent focus:border-transparent focus:ring-0 justify-center"
            placeholder="Type a message"
            autofocus
            (change)="chatMessageInput.set($any($event.target).value)"
            [value]="chatMessageInput()"
          />
          <div
            id="chat-send"
            class="flex flex-row w-[6%] h-full justify-center items-center hover:cursor-pointer"
            (click)="
              sendMessage(
                chatMessageInput(),
                selectedChat.id,
                selectedChat.index
              )
            "
          >
            <span id="send" class="w-[25px] h-[25px] flex">
              <img src="../../../../assets/images/send.svg" alt="Send Icon" />
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="modal" *ngIf="createChatModalVisible">
  <article class="modal-container">
    <header class="modal-container-header">
      <h1 class="modal-container-title">
        <img src="../../../../assets/images/user-plus.svg" class="w-6 h6" />
        Create Group Chat
      </h1>
      <button class="icon-button" (click)="createChatModalVisible = false">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
        >
          <path fill="none" d="M0 0h24v24H0z" />
          <path
            fill="currentColor"
            d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"
          />
        </svg>
      </button>
    </header>
    <form
      class="modal-container-body rtf flex flex-col items-center justify-center"
      [formGroup]="groupChatForm"
      (ngSubmit)="createChat()"
    >
      <app-input
        inputType="text"
        label="Group name"
        placeholder="Enter a group name"
        [control]="groupChatForm.controls['groupName']"
      ></app-input>

      <app-input
        inputType="text"
        label="Search"
        placeholder="Search for users"
        [dropdownVisible]="true"
        [suggestions]="suggestions"
        [control]="groupChatForm.controls['userSearchInput']"
        (onSuggestionClick)="onSuggestionClick($event)"
      ></app-input>
      <div id="chip-container" class="w-full min-h-[2rem]">
        <app-chip-list
          [chipItems]="groupChatForm.get('selectedUsers')!.value!"
          (onChipRemoveClick)="removeChip($event)"
        ></app-chip-list>
      </div>
      <app-button
        label="Start Chat"
        class="focus:outline-none rounded text-black bg-wp-green hover:opacity-90 w-full h-10"
        buttonType="submit"
        [disabled]="!groupChatForm.valid"
      ></app-button>
    </form>
  </article>
</div>
