<div class="flex flex-col items-center py-4 px-4">
  <div class="flex flex-col">
    <label
      [for]="label"
      class="text-gray-800 dark:text-gray-100 text-sm font-bold leading-tight tracking-normal mb-2"
      >{{ label }}</label
    >
    <div class="relative">
      <div
        class="absolute text-gray-600 dark:text-gray-400 flex items-center pl-4 h-full"
      >
        <ng-content [select]="icon"></ng-content>
        <!-- <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-mail"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" />
            <rect x="3" y="5" width="18" height="14" rx="2" />
            <polyline points="3 7 12 13 21 7" />
          </svg> -->
      </div>
      <ng-container *ngIf="control; else default">
        <input
          #inputElementRef
          [type]="inputType"
          class="text-gray-600 dark:text-gray-400 focus:outline-none focus:border dark:border-gray-700 dark:bg-gray-800 bg-white font-normal w-64 h-10 flex items-center pl-12 text-sm border-gray-300 rounded border shadow disabled:opacity-40 border-transparent"
          [formControl]="control"
          [placeholder]="placeholder || ''"
          [disabled]="disabled"
        />
        <ng-container
          *ngIf="
            control.errors &&
            (control.touched || control.dirty || !control.pristine)
          "
        >
          <span
            *ngFor="let error of control.errors | keyvalue"
            class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-3 ml-1 max-w-[16rem] h-0 pt-1 max-h-fit"
          >
            {{ error.value }}
          </span>
        </ng-container>
      </ng-container>
      <ng-template #default>
        <input
          #inputElementRef
          class="text-gray-600 dark:text-gray-400 focus:outline-none focus:border dark:border-gray-700 dark:bg-gray-800 bg-white font-normal w-64 h-10 flex items-center pl-12 text-sm border-gray-300 rounded border shadow disabled:opacity-40"
          [placeholder]="placeholder || ''"
          [disabled]="disabled"
        />
      </ng-template>
    </div>
  </div>
  <div
    class="suggestions-dropdown"
    #suggestionsDropdown
    *ngIf="dropdownVisible"
  >
    <ng-container *ngFor="let suggestion of suggestions">
      <div class="suggestions-dropdown-item">
        <div class="item-text" (click)="onSuggestionClicked(suggestion)">
          {{ currentValueOf(suggestion, suggestionShowProperty) }}
        </div>
      </div>
    </ng-container>
  </div>
</div>
