<div id="chip-container" class="grid grid-cols-3 gap-3">
  <ng-container *ngFor="let chip of chipItems; let i = index">
    <div
      class="center relative inline-block select-none whitespace-nowrap rounded-lg bg-gradient-to-tr bg-wp-green py-2 px-3.5 align-baseline font-sans text-xs font-bold leading-none text-white w-fit"
    >
      <div class="mr-5 mt-px">{{ displayChip(chip) }}</div>
      <div
        class="absolute top-1 right-1 mx-px mt-[0.5px] w-max rounded-md"
        (click)="removeChipItemClicked(i)"
      >
        <div role="button" class="h-5 w-5 p-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="3"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            ></path>
          </svg>
        </div>
      </div>
    </div>
  </ng-container>
</div>
